# top-most editorconfig file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{gemspec,rake,rb}]
indent_style = space
indent_size = 2

[{Gemfile,Rakefile}]
indent_style = space
indent_size = 2

[bin/**]
indent_style = space
indent_size = 2
