.gitignore

mytest/
# Jakub, could you review this paragraph?
/Gemfile.lock
/pkg/
/.ruby-gemset
/.ruby-version
/.yardoc/
/doc/
.idea


# My work
MYNOTES.adoc
test_jc/
tmp/
work/

# Workng & test files
*.pdf
*.aux
*.log
*.out
*.toc

# junk from my test, to remove
test/examples/tex/*.adoc
test/examples/tex/*.html
test/examples/tex/*.txt
test/examples/tex/*.rb
test/examples/tex/*.jpg
test/examples/tex/*.sh
test/examples/tex/_*
test/examples/tex/x*
test/examples/tex/foo*
test/examples/adoc/x*
test/examples/tex/newEnvironments.tex
test/examples/tex/asciidoc_tex_macros.tex
jc/
buildit

# Node.js
build/
node_modules/
