.openblock.box {
    margin-top:1em;
    margin-bottom: 1em;
    margin-left:3em;
    margin-right:4em;
    padding: 1em;
    background-color: #ddd;
}

.openblock.capsule.content {
    margin-bottom:2em;
    font-style:italic;
    font-size:0.85em;
}
