
/* CLICK BLOCK */

.click_oblique {

    line-height:1.5em;
    font-size:1.05em;
    font-style:oblique;
    margin-bottom:1.5em
}

.click_plain {

    line-height:1.5em;
    font-size:1.05em;
    margin-bottom:1.5em;
}

/* BOX */

.openblock.box {
    margin-top:1em;
    margin-bottom: 1em;
    margin-left:3em;
    margin-right:4em;
    padding: 1em;
    font-size: 0.85em;
    background-color: #ddd;
}


/* CAPSULE */


.openblock.capsule {
    margin-left:10em;
    margin-bottom:2em;
    font-style:italic;
    font-size:0.95em;
    line-height: 1.2em;
}



/* Equation Style */


.equation_row_style {

    border-collapse: collapse;
    border:0;
    font-size: 10pt;
}

.equation_table_style {

    width:100%;
    border-collapse:collapse;
    border:0
}

.equation_number_style {

    text-align:right;
}

.equation_content_style {

    width:100%;

}


/* XREF asciidoctor-latex */

.xref {

    text-decoration:none;

}

.glossary_term {

    color: darkred;
}

.index_term {

    color: darkred;
}


@media print {
    @page {
        margin: 2.25cm 2.75cm
    }

    body {
        font-size: 0.75em;
        text-align: justify;
    }

    h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6 {
        font-weight: 300;
        font-style: normal;
        color: #000
    }

    h1 small, h2 small, h3 small, #toctitle small, .sidebarblock > .content > .title small, h4 small, h5 small, h6 small {
        color: #000
    }
}


/* use for targets of index items */
.invisible {
    color: #fff;
    font-size: 1pt;
}


.index_style ul {

    list-style-type: none;
    padding:0;
    margin:0;
    margin-left:1em;
}

.index_style p {

    padding:0;
    margin:0;
    line-height: 1.4em;
    font-size:1.0em;
}

#index_style .title {

    font-weight:bold;
    margin-top:1em;
}

#publisher {

    margin-top:-1.35em;
    font-size:9pt;
    color: #555
}

#simple_publisher {

    margin-top:-1.35em;
    font-size:9pt;
    color: #555
}


@media print {
    @page {
        margin: 2.25cm 2.75cm
    }

    body {
        font-size: 0.7em;
        line-height: 1.15em;
        text-align: justify;
    }

    h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6 {
        font-weight: 500;
        font-style: normal;
        color: #000
    }

    h1 small, h2 small, h3 small, #toctitle small, .sidebarblock > .content > .title small, h4 small, h5 small, h6 small {
        color: #000
    }

    .openblock .title strong {
        font-weight: 400;
        font-size: 0.85em;
    }

    .verseblock pre{font-size:0.7em;}

    blockquote{font-size: 0.7em;}
}
